/* ========== Main Frame ========== */
.main-frame {
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: border 0.2s ease, transform 0.2s ease;
  cursor: pointer;
}

.main-frame:hover {
  border: 2px solid #6366f1;
  transform: scale(1.01);
}

.main-frame-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ========== Shape Base ========== */
.shape {
  position: absolute;
  transition: border 0.2s ease, transform 0.2s ease;
  cursor: pointer;
}

.shape:hover {
  border: 1px dashed #6366f1;
}

/* Rectangle */
.shape-rect {
  border-radius: 4px;
}

/* Circle */
.shape-circle {
  border-radius: 50%;
}

/* Triangle */
.shape-triangle {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}


.shape-star {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}



/* ========== Text ========== */
.text-content {
  width: 100%;
  height: 100%;
  text-align: center;
  user-select: none;
  margin: 0;
}

/* ========== Image Wrapper ========== */
.img-wrapper {
  overflow: hidden;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shape:hover .img-wrapper {
  border-color: #6366f1;
}

/* ========== Delete Button ========== */
.delete-btn {
  position: absolute;
  top: -25px;
  right: -25px;
  background: red;
  color: white;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.shape:hover .delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transform: scale(1.1);
}

.trash-icon {
  color: #ef4444;
  font-size: 18px;
  transition: color 0.2s ease;
}

.trash-icon:hover {
  color: #dc2626;
}

/* Utility */
.overflow-hidden {
  overflow: hidden;
}
