.projects-container {
  height: 88vh;
  overflow-x: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  width: 100%;
}

.project-link {
  width: 100%;
  height: 90px;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
